name: build and pack

on:
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x

    - name: Install Dotnet Tool
      run: |
        dotnet tool install -g passingwind.git-ci-tools
        gitci --version

    - name: Set environment variables
      uses: rlespinasse/github-slug-action@3.6.0

    - name: Version check and generate
      run: |
          gitci release changes --output ./changeslog.md
          gitci version next --format json --output ./version.json --build-ver "${{env.GITHUB_SHA_SHORT}}"
          ls ./

    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --no-restore -c Release

    - name: Pack
      run: dotnet pack --no-build --no-restore -c Release /p:Version="${{env.GITCI_NEXT_VERSION}}" -o ./

    - name: Push package
      run: dotnet nuget push ./*.nupkg --skip-duplicate --api-key ${{secrets.NUGET_TOKEN}} --source https://api.nuget.org/v3/index.json

    - name: Create Release
      uses: ncipollo/release-action@v1
      with:
          tag: v${{env.GITCI_NEXT_VERSION}}
          artifacts: ./*.nupkg, ./changeslog*
          bodyFile: ./changeslog.md
          prerelease: false
          token: ${{ secrets.GITHUB_TOKEN }}
